.mainlogin {
    height: 100vh;
    display: flex;

    align-items: center;
    width: 100vw;
    flex-direction: column;
    background-color: white;
    color: black;
}

.logincard {
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    padding: 40px;
    border-radius: 10px;
    width: 25%;
    height: 20%;


}

.loginbutton {
    width: 100%;
    background-color: rgb(102, 197, 228);

}

.logincard input {
    padding: 6px;
    outline: none;
    background: none;
    border: solid 0.5px grey;
    border-radius: 5px;


}

.mainlogin {
    background-color: white;
}

.loginbutton {
    width: 100%;
    background-color: rgb(102, 197, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}